html,body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(45deg, rgb(1, 18, 41), transparent);
    gap: 1em;
 }
 body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
   
 }


 header{
     display: flex;
     align-items: center;
     justify-content: center;
     
     /* background-color: aliceblue; */
     
 }


 .Score{
     display: flex;
     flex: 0.1;
     justify-content: space-around;
 }


 .Selection{
     display: flex;
     flex-direction: column;
     flex: 1;
     justify-content: center;
     align-items: center;
     margin-bottom: 5%;
     gap: 3em;
 }

 .options{
     display: flex;
     gap: 10em;
 }
 .rock,.paper,.scissors{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
        background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
      
 }
 button:hover{
    box-shadow: 0 12px 16px 0 rgba(250, 249, 249, 0.24), 0 17px 50px 0 rgba(175, 37, 37, 0.19);
 }
   

button:active {
        background-color: transparent;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }
 
 
 img{
    width: 120px;
    height: auto;
}
.selected{
    border: 3px solid red;
}



 .Results{
     display: flex;
     flex-direction: column;
     margin-top: 3%;
 }

 .end-images{
     display: flex;
     justify-content: center;
     gap:10em;

 }
 .user,.comp,.result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    
    
 }
 footer{
     display: flex;
     justify-content: center;
 }
 h3,h2{
    
     padding: 0;
     margin: 0;
 }


